.DS_Store
.env
.env.*
!.env.example

node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next/
out/
dist/
build/
coverage/
.turbo/
.vercel/

*.tsbuildinfo

.idea/
.vscode/

*.log
